---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content" class="app-layout pt-6">
    <section id="hero" class="border-border space-y-6 border-b pb-6">
      <p>Husband, father, employee by day, systems programmer by night.</p>
      <p>Sweating it out in Singapore.</p>
    </section>
  </main>
  <Footer />
</Layout>
