---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";

const projects = await getEntry("pages", "projects");

if (!projects) {
  throw new Error("Missing content entry: `src/content/pages/projects.md`");
}

const { Content } = await render(projects);
---

<Layout
  title={`${projects.data.title} | ${config.site.title}`}
  description={projects.data.description}
>
  <Header />

  <Main class="app-prose">
    <Content />
  </Main>

  <Footer />
</Layout>
