---
import config from "@/config";

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

const isModified = modDatetime && modDatetime > pubDatetime;
const datetime = new Date(isModified ? modDatetime : pubDatetime);
const monthAndDay = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "short",
  timeZone: postTimezone ?? config.site.timezone,
}).format(datetime);
const year = new Intl.DateTimeFormat("en-GB", {
  year: "numeric",
  timeZone: postTimezone ?? config.site.timezone,
}).format(datetime);
const date = `${monthAndDay}, ${year}`;
---

<div
  class:list={["text-muted-foreground flex items-center gap-x-2", className]}
>
  {
    isModified && (
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
        Updated:
      </span>
    )
  }
  <time
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    datetime={datetime.toISOString()}
  >
    {date}
  </time>
</div>
